### **E-commerce Analysis with Markdown**
This is a simple data exploration exercise using just markdown. 

Imagine you have a dataset containing information about online store orders. Let's explore some trends!

**Table:**

| order_id  | customer_id | order_date  | order_value ($)   | product_category |
|-----------|-------------|-------------|-------------------|------------------|
| 001       | 23          | 02/04/2024  | 200               | Food             |
| 002       | 25          | 02/06/2024  | 300               | Electronics      |
| 003       | 23          | 02/10/2024  | 1000              | Healthcare       |
| 004       | 18          | 02/18/2024  | 800               | Clothing         |
| 005       | 21          | 03/01/2024  | 3000              | Food             |
| 006       | 05          | 03/03/2024  | 500               | Healthcare       |
| 007       | 29          | 03/04/2024  | 600               | Food             |
| 008       | 10          | 03/08/2024  | 5000              | Electronics      |
| 009       | 22          | 03/12/2024  | 400               | Healthcare       |
| 010       | 05          | 03/15/2024  | 1200              | Clothing         |
| 011       | 19          | 03/18/2024  | 500               | Food             |
| 012       | 05          | 03/26/2024  | 600               | Healthcare       |

**Columns:**

- **order_id**: Unique identifier for the order (text).
- **customer_id**: Unique identifier for the customer (text).
- **order_date**: Date of the order (text, format MM/DD/YYYY).
- **order_value**: Total value of the order (number).
- **product_category**: Category of the main product purchased (text).

**Tasks:**

1. Describe the Data:

#
- How many orders are there in total?
- What are some summary statistics for the order_value (e.g., mean, median, minimum, maximum)?

2. Explore Trends:

- Are there any differences in average order value by product_category?

**How to Solve:**

- While you cannot perform calculations directly in markdown, you can use it to structure your analysis.

1. Descriptive Statistics:

    - Use markdown headings and text to explain what you're analyzing (e.g., "Total Orders").
    - Get the results of your calculations and write them down (e.g., "Total Orders: 1000").

2. Category Comparison:

    - Create a table with headers "Product Category" and "Average Order Value".
    - Fill the table with the average values of each category (e.g., "Electronics: $ 250").

Remember:
This is a simplified exercise. Real data analysis would involve data cleaning, visualization, and further exploration.

## ANSWERS:

## PRODUCT ORDERS:

*This will provide all the needed information from the given table/data above*

### How Many Orders are there in total?

There are total of **twelve (12)** orders

### What are some summary statistics for the order_value?

### PRODUCT STATISTICS PER ORDER VALUE:
1. Food
- Mean: 1075
- Median: 550
- Range: 2800
- Max Order Value: 3000
- Min Order Value: 200
- Sum of Total Order Value: 4300
- Count of Orders: 4
- Sorted Order IDs: 001,005,007,011

2. Electronics
- Mean: 2650
- Median: 2650
- Range: 4700
- Max Order Value: 5000
- Min Order Value: 300
- Sum of Total Order Value: 5300
- Count of Orders: 2
- Sorted Order IDs: 002,008

3. Healthcare
- Mean: 625
- Median: 550
- Range: 600
- Max Order Value: 1000
- Min Order Value: 400
- Sum of Total Order Value: 2500
- Count of Orders: 4
- Sorted Order IDs: 003,006,009,012

4. Clothing
- Mean: 1000
- Median: 1000
- Range: 400
- Max Order Value: 1200
- Min Order Value: 800
- Sum of Total Order Value: 2000
- Count of Orders: 2
- Sorted Order IDs: 004, 010

##### Are there any differences in average order value by product_category?
 - YES, You can reference from the table below:

| Product category  | Average order value
|----------|----------|
| Food | 1075 |
| Electronics | 2650 | 
| Healthcare | 625 |
| Clothing | 1000 |


## **SALES REPORT - COMPANY XYZ**

### Order Results
We have here the data of the online orders from the store this past few weeks, shown on Table 1. 

We have a total of **$ 14,100** Order Value for the recorded sales. 

### **Table 1:**

   | order_id  | customer_id | order_date  | order_value ($) | product_category |
   |-----------|-------------|-------------|-------------------|------------------|
   | 001       | 23          | 02/04/2024  | 200               | Food             |
   | 002       | 25          | 02/06/2024  | 300               | Electronics      |
   | 003       | 23          | 02/10/2024  | 1000              | Healthcare       |
   | 004       | 18          | 02/18/2024  | 800               | Clothing         |
   | 005       | 21          | 03/01/2024  | 3000              | Food             |
   | 006       | 05          | 03/03/2024  | 500               | Healthcare       |
   | 007       | 29          | 03/04/2024  | 600               | Food             |
   | 008       | 10          | 03/08/2024  | 5000              | Electronics      |
   | 009       | 22          | 03/12/2024  | 400               | Healthcare       |
   | 010       | 05          | 03/15/2024  | 1200              | Clothing         |
   | 011       | 19          | 03/18/2024  | 500               | Food             |
   | 012       | 05          | 03/26/2024  | 600               | Healthcare       |

#### Table 2 shows the _Product Category_  and the _Average_ customer has purchased to us:

### **Table 2:**

    
   | product_category | order_value ($) | Average order_value ($)  | 
   |------------------|-------------------|----------------------------|
   | Food             | 4300              | 1075                       | 
   | Electronics      | 5300              | 2650                       | 
   | Healthcare       | 2500              |  625                       | 
   | Clothing         | 2000              | 1000                       | 
   |    Total         |    14000          |                            | 

#### In Table 3 we arrived at this Statistical Data, based on the table above:

### **Table 3:**

    
   | Statistical Order_value | Value ($)   | product_category  | 
   |-------------------------|-------------|-------------------|
   | Mean                    | 1175        |                   | 
   | Median                  | 600         |                   | 
   | Minimum                 | 200         |  Food             | 
   | Maximum                 | 5000        | Electronics       | 
   
## (Hypothetical Insights)
1. Customers prefer buying Electronics than other items. This may be due to natural phenomena such as weather and convenience.
2. Since food, clothing, and healthcare are basic necessities for our customers, we must ensure an adequate supply of these items.

# Exercise: Formatting Data into Markdown Tables
Objective:
You will be given a dataset in CSV format. Your task is to convert this dataset into a Markdown table format.

Instructions:

**1. Convert the Dataset:** Convert the provided dataset into a Markdown table format.

**2. Use Markdown Syntax:** Make sure to use proper Markdown table syntax to format the table.

**3. Ensure Readability:** Ensure that the table is properly aligned and readable.

__ID,Name,Age,Department,Salary__

- 1,John Doe,28,Marketing,50000

- 2,Jane Smith,34,Sales,55000

- 3,Emily Davis,29,Engineering,60000

- 4,Michael Brown,42,HR,52000

- 5,Alice Johnson,31,Finance,58000

- 6,Robert White,37,IT,62000

- 7,Jessica Lee,26,Marketing,51000

- 8,David Wilson,45,Sales,57000

- 9,Linda Clark,38,Engineering,61000

- 10,James Lewis,33,Finance,59000

| id_number | full_name | age_number | department_name | salary_range
|------|-----|------|-----|-----|
| 1 | John Doe | 28 | Marketing | 50000 |
| 2 | Jane Smith | 34 | Sales | 55000 |
| 3 | Emily Davis | 29 | Engineering | 60000 |
| 4 | Michael Brown | 42 | HR | 52000 |
| 5 | Alice Johnson | 31 | Finance | 58000 |
| 6 | Robert White |  37 | IT | 62000 |
| 7 | Jessica Lee | 26 | Marketing | 51000 |
| 8 | David Wilson | 45 | Sales | 57000 |
| 9 | Linda Clark | 38 | Engineering | 61000 |
| 10 | James Lewis | 33 | Finance | 59000 |